{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                <h2 class="post-title">
                    Our Mission
                </h2>
                <p class="post-subtitle">
                    Find out about endangered species in the Netherlands.Use the IUCN Red List of Endangered Species (IUCN) guidance to see which birds need your immediate attention.
            <p>-Critically Endangered (CR-IUCN)</p>
            <p>-Endangered (EN-IUCN)</p>
            <p>-Extinct in the Wild (EW-IUCN)</p>
            <p>-Vulnerable (VU-IUCN)</p>
            <p>-Near Threatened (NT-IUCN)</p>
                </p>
            </div>
        </div>
    </div> 
            
   {% for bird in birds %}   

        <hr>

    <div class="row">
        <div class="col-md-7">
            <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="{{bird.image}}" alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h3>{{bird.name}}</h3>
            <p>{{bird.short_description}}</p>
            <a class="btn btn-primary" href="#">Learn More
            <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>

{% endfor %}



     <hr>

            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="">Hot Locations &rarr;</a>
            </div>
    
{% endblock %}