{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                <h2 class="post-title">
                    Our Mission
                </h2>
                <p class="post-subtitle">
                    Find out about endangered species in the Netherlands.
                </p>
            </div>
        </div>
    </div> 
            
            
    <div class="row featurette">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="https://i.pinimg.com/originals/cd/82/9a/cd829a3e58c1823057a934b6d8518c79.jpg" alt=""></a>
          <div class="card-body">
          <h3>Balearic Shearwater</h3>
			<p class="card-text">The Balearic shearwater is considered critically endangered with extinction by the IUCN. Recent
				models estimate a mean decrease of 7.4% per year and a mean extinction time of 40.4 years. This equates to an
				ongoing decline of more than 80% over the next three generations (54 years). It is under severe
				threat from the development of holiday resorts near its breeding sites. These can destroy or alter its natural
				breeding habitat by, for example, producing light pollution around nesting colonies.Predation from introduced
				animals such as cats and rats also cause problems.[citation needed] The discovery of yelkouan shearwaters in the
				Menorcan colony suggests that hybridization may also pose a problem.</p>            
                <h4 class="card-title">
              <a href="#">Learn More</a>
            </h4>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
          <h3>Balearic Shearwater</h3>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            <h4 class="card-title">
              <a href="#">Learn More</a>
            </h4>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam, error quod sed cumque, odio distinctio velit nostrum temporibus necessitatibus et facere atque iure perspiciatis mollitia recusandae vero vel quam!</p>
             <h4 class="card-title">
              <a href="#">Learn More</a>
            </h4>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
             <h4 class="card-title">
              <a href="#">Learn More</a>
            </h4>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
             <h4 class="card-title">
              <a href="#">Learn More</a>
            </h4>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum nostrum suscipit ducimus nihil provident, perferendis rem illo, voluptate atque, sit eius in voluptates, nemo repellat fugiat excepturi! Nemo, esse.</p>
             <h4 class="card-title">
              <a href="#">Learn More</a>
            </h4>
          </div>
        </div>
      </div>
</div>
           
            <hr>





            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="">Hot Locations &rarr;</a>
            </div>
    
{% endblock %}